body {
	font-size: 14px;
	font-family: Arial;
	color: #555;
	background: #f4f2ed
}

*,
ul,
li,
dl,
dt,
dd,
em {
	padding: 0;
	margin: 0;
	list-style: none;
	font-style: normal;
}

html {
	overflow-x: hidden
}

a {
	text-decoration: none;
	color: #6c6c6c
}

a:hover {
	color: #808a61
}

img {
	border: none
}

.container {
	width: 1080px;
	margin: 0 auto;
	background: #f4f2ed;
	overflow: hidden
}

.head_wrapper {
	width: 1080px;
	height: 106px;
	margin: 0 auto;
}

.logo {
	float: left;
	width: 750px;
	height: 106px;
	overflow: hidden
}

.logo img {
	padding-top: 15px;
}

.hear_right {
	float: right;
	width: 250px;
	height: 106px;
}

.top_lan {
	float: right;
	width: 240px;
	height: 26px;
	margin-top: 10px;
	color: #999;
	text-align: right;
	font-size: 13px;
	padding-right: 10px;
}

.top_lan a {
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	color: #999;
}

.top_lan a:hover {
	color: #808a61;
}

.head_search {
	float: right;
	height: 28px;
	padding: 2px;
	width: 234px;
	background: url("../images/bg_search.png")/*tpa=http://www.runwingpet.cn/images/bg_search.png*/
	no-repeat;
	margin-top: 15px;
}

.box_txt {
	float: left;
	width: 176px;
	height: 28px;
	line-height: 28px;
	border: 0;
	padding: 0 5px;
}

.btn_sub {
	float: left;
	width: 30px;
	height: 28px;
	border: 0;
	background: url(".")/*tpa=http://www.runwingpet.cn/css/.*/
	;
	cursor: pointer;
}


/*menu*/

.menu {
	height: 34px;
	padding: 8px 0;
	width: 100%;
	margin: 0 auto;
	background: url("../images/menu_bg.png")/*tpa=http://www.runwingpet.cn/images/menu_bg.png*/
	repeat-x;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.nav {
	height: 34px;
	width: 1080px;
	margin: 0 auto;
	position: relative;
}

.nav a {
	color: #f4f3ee;
	float: left;
}

.nav a {
	display: block;
	width: 208px;
	font-size: 15px;
	font-weight: 600;
	height: 34px;
	line-height: 34px;
	position: relative;
	background: url("../images/nav_dot.png")/*tpa=http://www.runwingpet.cn/images/nav_dot.png*/
	no-repeat left 10px;
	padding-left: 30px;
}

.nav a:hover {
	color: #f8efc4;
	background-position: left -18px;
}

.nav a.home {}

.nav a.nav_end {
	width: 90px;
}

.nav .sub {
	display: none;
	list-style: none;
	width: 150px;
	z-index: 100000;
	min-height: 32px;
	max-height: auto !important;
	position: absolute;
	top: 41px;
	margin-left: -5px;
	background: #005ca1;
}

.nav .sub li {
	float: left;
	zoom: 1;
	width: 100%;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #fff;
	text-align: center;
}

.nav .sub a {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	float: left;
	height: 32px;
	line-height: 32px;
	color: #fff;
	text-align: center;
}

.nav .sub a:hover {
	background: #0047a7;
	color: #fff;
}


/*banner*/

.slideBox {
	width: 100%;
	height: 456px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background: url("../images/ban_bg.png")/*tpa=http://www.runwingpet.cn/images/ban_bg.png*/
	no-repeat center bottom;
}

.slideBox .hd {
	height: 15px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 10px;
	z-index: 1;
	padding: 5px 15px;
}

.slideBox .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}

.slideBox .hd ul li {
	float: left;
	margin-right: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	text-align: center;
	background: url("../images/dot.png")/*tpa=http://www.runwingpet.cn/images/dot.png*/
	no-repeat;
	cursor: pointer;
}

.slideBox .hd ul li.on {
	background-position: left -25px;
}

.slideBox .bd {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.slideBox .bd li {
	zoom: 1;
	width: 100%;
	height: 450px;
}

.slideBox .bd li a {
	width: 100%;
	height: 450px;
	text-indent: -9999px;
	display: block
}

.slideBox .prev,
.slideBox .next {
	position: absolute;
	left: 8%;
	top: 50%;
	margin-top: -35px;
	display: block;
	width: 32px;
	height: 51px;
	background: url("../images/slider-arrow.png")/*tpa=http://www.runwingpet.cn/images/slider-arrow.png*/
	-110px 0px no-repeat;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.slideBox .next {
	left: auto;
	right: 8%;
	background-position: 0px 0px;
}

.slideBox .prev:hover,
.slideBox .next:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

.slideBox .prevStop {
	display: none;
}

.slideBox .nextStop {
	display: none;
}

.box_main {
	width: 1088px;
	margin: 20px auto;
}


/*首页公司简介*/


/* 本例子css */

.slideTxtBox {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.slideTxtBox .hd {
	background: #f4f4f4;
	position: relative;
}

.slideTxtBox .hd ul {
	float: left;
	position: absolute;
	height: 40px;
	padding-left: 36px;
}

.slideTxtBox .hd ul li {
	float: left;
	cursor: pointer;
	line-height: 40px;
	width: 193px;
	background: url("../images/pro_bg.png")/*tpa=http://www.runwingpet.cn/images/pro_bg.png*/
	no-repeat;
	text-align: center;
	font-size: 16px;
	color: #666;
	border-top-right-radius: 5px;
}

.slideTxtBox .hd ul li.on {
	position: relative;
	z-index: 10;
	font-size: 18px;
	color: #f4f3ee;
	width: 202px;
	height: 52px;
	line-height: 52px;
	background: url("../images/pro_nav_bg.png")/*tpa=http://www.runwingpet.cn/images/pro_nav_bg.png*/
	no-repeat;
	margin-top: -3px;
}

.slideTxtBox .bd {
	background: url("../images/pro_bg01.png")/*tpa=http://www.runwingpet.cn/images/pro_bg01.png*/
	no-repeat;
	height: 358px;
	margin-top: 40px;
}

.slideTxtBox .bd ul {
	float: left;
	padding: 15px 10px;
	zoom: 1;
	width: 1060px;
	margin-top: 15px;
	position: relative;
}

.slideTxtBox .bd li {
	float: left;
	height: 220px;
	width: 220px;
	padding: 10px;
	border: 1px solid #ddd;
	margin-left: 20px;
	border-radius: 5px;
}

.slideTxtBox .bd li:hover {
	border: 1px solid #e3dfd1;
}

.slideTxtBox .bd li a {
	font-size: 14px;
	color: #353535;
	position: relative;
}

.slideTxtBox .bd li a span {
	display: block;
	width: 202px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 9px;
	background: url("../images/pro_title_bg.jpg")/*tpa=http://www.runwingpet.cn/images/pro_title_bg.jpg*/
	no-repeat;
}

.slideTxtBox .bd li:hover a span {
	background: url("../images/pro_title_bg2.jpg")/*tpa=http://www.runwingpet.cn/images/pro_title_bg2.jpg*/
	no-repeat;
}

.slideTxtBox .bd li a:hover {
	color: #808a61
}

.slideTxtBox .bd li a span:hover {
	color: #808a61
}

.more {
	width: 100px;
	height: 20px;
	font-size: 13px;
	position: absolute;
	z-index: 10;
	float: right;
	right: 70px;
	top: 303px;
	text-align: center;
	color: #666;
	border-bottom: 2px solid #7e8f69;
}

.box_2 {
	float: left;
	width: 100%;
	height: 180px;
	padding: 30px 0;
}

.box_about {
	float: left;
	position: relative;
	width: 292px;
	height: 170px;
	-moz-box-shadow: 1px 1px 2px #666666;
	-webkit-box-shadow: 1px 1px 2px #666666;
	box-shadow: 1px 1px 2px #666666;
	border-radius: 5px;
}

.box_about span {
	display: block;
	position: absolute;
	top: 22px;
	right: 15px;
	z-index: 10;
	width: 112px;
	height: 30px;
	background: url("../images/a_link.png")/*tpa=http://www.runwingpet.cn/images/a_link.png*/
	no-repeat;
}

.box_ablum {
	width: 570px;
	float: left;
	height: 180px;
	margin-left: 30px;
}

.box_ablum dt {
	height: 30px;
	background: url("../images/box_ablum.png")/*tpa=http://www.runwingpet.cn/images/box_ablum.png*/
	no-repeat;
	text-align: right;
}

.box_ablum dt a {
	font-size: 13px;
	color: #fff;
	line-height: 30px;
	padding-right: 20px;
}

.box_ablum dt a:hover {
	color: #346d40;
}

.box_ablum dd {
	height: 140px;
	margin-top: 10px;
}

.box_ablum dd a {
	float: left;
	margin-left: 10px;
	margin-right: 2px;
}

.box_ablum dd img {
	width: 130px;
	height: 130px;
	-moz-box-shadow: 1px 1px 2px #999;
	-webkit-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
	border-radius: 5px;
}

.box_3 {
	float: right;
	width: 160px;
	height: 180px;
}

.box_3 dt {
	height: 70px;
	padding-top: 20px;
}

.box_3 dd {
	padding-top: 10px;
}

.box_3 dd a {
	float: left;
	margin: 0 6px;
}

.ins_banner {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.nav_bg {
	margin: 0 auto;
	width: 1080px;
	height: 393px;
	background: url("../images/bg_02.jpg")/*tpa=http://www.runwingpet.cn/images/bg_02.jpg*/
	no-repeat;
	margin-top: -393px;
	position: relative;
	z-index: -1;
}

.box_pro_nav {
	margin: 0 auto;
	width: 1080px;
	height: 378px;
}

.box_pro_nav dt {
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.box_pro_nav dt a {
	padding: 0 60px 0 25px;
	display: inline-block;
	height: 55px;
	color: #fff;
}

.box_pro_nav dt a:hover {
	background: url("../images/nav_bg.png")/*tpa=http://www.runwingpet.cn/images/nav_bg.png*/
	no-repeat left center;
	color: #346d40;
}

.box_pro_nav dt a.hover {
	background: url("../images/nav_bg.png")/*tpa=http://www.runwingpet.cn/images/nav_bg.png*/
	no-repeat left center;
	color: #346d40;
}

.box_pro_nav dd {
	padding: 10px 15px;
	width: 1050px;
}

.box_pro_nav dd img {
	border-radius: 13px;
}

.box_left {
	width: 200px;
	float: left;
	padding: 10px;
	background: #eef1f4;
}

.box_img {
	float: left;
	margin-bottom: 8px;
	width: 194px;
	border: 1px solid #cfd7de;
	padding: 2px;
	text-align: center;
}

.box_img img {
	max-width: 194px;
}

.ins_right {
	width: 720px;
	;
	float: right;
	min-height: 410px;
	max-height: auto !important;
	padding: 20px;
}

.right_column {
	width: 100%;
	clear: both;
	height: 40px;
	line-height: 40px;
}

.sub_nav {
	float: left;
	font-size: 14px;
	text-align: right;
	padding-right: 20px;
	padding-left: 20px;
}

.content {
	width: 1060px;
	padding: 10px;
	-moz-box-shadow: 2px 2px 6px #bbb;
	border-radius: 8px;
	-webkit-box-shadow: 2px 2px 6px #bbb;
	box-shadow: 2px 2px 6px #bbb;
	min-height: 500px;
	max-height: au auto !important;
	overflow: hidden;
	margin-bottom: 50px;
	background: #fff;
}

.content p {
	margin-bottom: 20px;
}

.content td {
	padding: 5px;
}

.box_pro {
	float: left;
	width: 1080px;
	margin-top: 40px;
}

.box_pro li {
	float: left;
	height: 220px;
	width: 220px;
	padding: 10px;
	border: 1px solid #ddd;
	margin-left: 15px;
	margin-right: 10px;
	border-radius: 5px;
	margin-bottom: 70px;
}

.box_pro li:hvoer {
	border: 1px solid #e3dfd1;
}

.box_pro li a {
	font-size: 14px;
	color: #353535;
	position: relative;
}

.box_pro li a span {
	display: block;
	width: 202px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin-left: 9px;
	background: url("../images/pro_title_bg.jpg")/*tpa=http://www.runwingpet.cn/images/pro_title_bg.jpg*/
	no-repeat;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.box_pro li:hover a span {
	background: url("../images/pro_title_bg2.jpg")/*tpa=http://www.runwingpet.cn/images/pro_title_bg2.jpg*/
	no-repeat;
}

.box_pro li a:hover {
	color: #808a61
}

.box_pro li a span:hover {
	color: #808a61
}


/******************产品多图展示放大镜 ************************/

.jqzoom {
	width: 420px;
	position: relative;
	padding: 1px;
	float: right;
	border: 1px #ddd solid;
	border-radius: 2px;
	text-align: center;
	background: #FFF;
}

.zoomdiv {
	left: 500px;
	height: 250px;
	width: 300px;
}

.pic-l {
	width: 520px;
	height: 480px;
	float: left;
	margin-left: 30px;
}

#preview {
	width: 520px;
}

.wrap {
	width: 76px;
	height: 420px;
	float: left;
	margin-top: 20px;
}

#prev {
	width: 76px;
	height: 10px;
	background: url("../images/up.png")/*tpa=http://www.runwingpet.cn/images/up.png*/
	no-repeat center center;
	border: 0;
	position: relative;
	left: -75px;
	cursor: pointer;
}

#next {
	width: 76px;
	height: 10px;
	background: url("../images/down.png")/*tpa=http://www.runwingpet.cn/images/down.png*/
	no-repeat center center;
	border: 0;
	position: relative;
	left: -155px;
	top: 430px;
	cursor: pointer;
}

.wrap ul {
	width: 76px;
	height: 420px;
	cursor: pointer;
	overflow: hidden;
	clear: both;
	*zoom: 1;
}

.wrap ul li {
	float: left;
	height: 78px;
	margin-bottom: 5px;
	width: 76px;
}

.wrap ul li img {
	padding: 1px;
	border: 1px solid #ddd;
	width: 72px;
	height: 72px;
}

.jqzoom {
	position: relative;
	padding: 0;
}

.zoomdiv {
	z-index: 100;
	position: absolute;
	top: 1px;
	left: 0px;
	width: 300px;
	background: url("i/loading.gif")/*tpa=http://www.runwingpet.cn/css/i/loading.gif*/
	#fff no-repeat center center;
	border: 1px solid #e4e4e4;
	display: none;
	text-align: center;
	overflow: hidden;
}

.bigimg {
	width: 800px;
	height: 800px;
}

.jqZoomPup {
	z-index: 10;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	background: #FEDE4F 50% top no-repeat;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity=50);
	cursor: move;
}

.pro_right {
	float: right;
	width: 450px;
	margin-right: 20px;
	margin-top: 20px;
}

.pro_right dt {
	float: left;
	width: 100%;
	line-height: 36px;
	color: #353535;
	font-size: 32px;
	font-weight: bold;
}

.pro_right dd {
	float: left;
	line-height: 26px;
	padding: 10px 0;
	font-size: 14px;
	color: #666
}

.pro_main {
	float: left;
	line-height: 26px;
	border-top: 1px solid #ddd;
	font-size: 14px;
	color: #666;
	width: 100%;
	margin-top: 40px;
	padding: 20px 0;
}


/*新闻中心*/

.album {
	float: left;
	margin-top: 10px;
	width: 100%;
	min-height: 485px;
	max-height: auto !important
}

.album dt {
	float: left;
	width: 100%;
	text-align: center;
	line-height: 48px;
	color: #fff;
	font-size: 28px;
	height: 48px;
	background: #a2a67c;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.album dd {
	float: left;
	width: 100%;
	padding: 20px 0;
}

.album dd img {
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	border-radius: 8px;
	margin-left: 7px;
	margin-top: 10px;
	margin-right: 9px;
	margin-bottom: 10px;
}

.album dd img:hover {
	box-shadow: 1px 1px 2px #666;
}


/*公司简介*/

.nav_ab_bg {
	margin: 0 auto;
	width: 1080px;
	height: 75px;
	background: url("../images/a_nav_bg.png")/*tpa=http://www.runwingpet.cn/images/a_nav_bg.png*/
	no-repeat;
	margin-top: -70px;
	position: relative;
	z-index: -1;
}

.nav_ab {
	margin: 0 auto;
	width: 1080px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.nav_ab a {
	padding: 0 60px 0 25px;
	display: inline-block;
	height: 50px;
	color: #fff;
}

.nav_ab a:hover {
	background: url("../images/nav_bg.png")/*tpa=http://www.runwingpet.cn/images/nav_bg.png*/
	no-repeat left center;
	color: #346d40;
}

.nav_ab a.hover {
	background: url("../images/nav_bg.png")/*tpa=http://www.runwingpet.cn/images/nav_bg.png*/
	no-repeat left center;
	color: #346d40;
}

.box_content {
	float: left;
	line-height: 26px;
	font-size: 14px;
	color: #666;
	width: 1060px;
	padding: 20px 10px;
	min-height: 430px;
	max-height: auto !important;
}

.box_content p {
	margin-bottom: 20px;
}

.feedback {
	background: #e9e6de;
	height: 520px;
	border-radius: 12px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.fd_title {
	color: #555;
	font-size: 24px;
	text-align: center;
}

.fd_txt {
	width: 533px;
	height: 43px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
	color: #888;
	line-height: 43px;
	padding: 10px;
	margin-top: 10px;
}

.fd_txt2 {
	width: 533px;
	height: 93px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
	color: #888;
	line-height: 20px;
	padding: 10px;
	margin-top: 10px;
}

.send {
	width: 120px;
	height: 50px;
	cursor: pointer;
	border: 0;
	text-align: right;
	background: url("../images/send.png")/*tpa=http://www.runwingpet.cn/images/send.png*/
	no-repeat;
	margin-top: 10px;
}


/*底部样式*/

.box_foot {
	width: 100%;
	background: url("../images/bottom_bg.png")/*tpa=http://www.runwingpet.cn/images/bottom_bg.png*/
	repeat-x;
	height: 76px;
}

.box_copy {
	width: 1080px;
	margin: 0 auto;
	height: 78px;
	line-height: 78px;
	color: #d1cec7;
	text-align: center;
	font-size: 14px;
}

.page {
	width: 100%;
	float: left;
	padding: 30px 0;
	text-align: right
}

.page a {
	border: 1px solid #ddd;
	margin: 0px 5px;
	padding: 5px 8px;
	cursor: pointer;
	font-size: 13px;
}

.page a.hover {
	border: 1px solid #ddd;
	margin: 0px 5px;
	padding: 5px 8px;
	cursor: pointer;
	font-size: 13px;
	color: #808a61
}